<section class="about-banner">
    <div class="container about-banner__container">
        <div class="about-banner__inner">
   
            <div class="about-banner__content-box">
                <div class="about-banner__content-title-box">
                    <h2 class="about-banner__content-title">
                        Здравствуйте! Меня зовут <span class="green-text">Кобылинский Кирилл</span>, и я являюсь
                        <span class="green-text">основателем GastroChef</span>.
                    </h2>
                </div>
                <div class="about-banner__content-disc-box">
                    <div class="about-banner__content-disc">
                        Я Мастер Спорта Украины по тяжёлой атлетике, а так же состоял в составе сборной Украины.
                    </div>
                    <div class="about-banner__content-disc">
                        У меня высшее образование национального университета физического воспитания и спорта Украины (НФВСУ), а
                        так же в прошлом я профессиональный фитнес тренер!
                    </div>
                </div>
                <div class="about-banner__content-signature-box">
                    <p class="about-banner__content-signature">И я хочу Вам рассказать побольше о GastroChef.</p>
                </div>
            </div>
            <div class="about-banner__photo-box">
                <img src="./assets/images/about-banner-photo.png" alt="" class="about-banner__photo" />
            </div>
        </div>
    </div>
</section>
