<section class="dishes">
    <div class="dishes__container container">
        <div class="dishes__inner">
            <div class="dishes__title-box">
                <h2 class="dishes__title">Фото блюд</h2>
            </div>
            <div class="dishes__swiper-box">
                <div class="dishes__swiper swiper">
                    <div class="dishes__swiper-wrapper swiper-wrapper">
                        <div class="dishes__swiper-slide swiper-slide">
                            <a href="./assets/images/dishes-swiper-img1.png" data-fancybox="dishes" class="dishes__swiper-slide-inner">
                                <div class="dishes__swiper-slide-img-box">
                                    <img src="./assets/images/dishes-swiper-img1.png" alt="" class="dishes__swiper-slide-img" />
                                </div>
                            </a>
                        </div>
                        <div class="dishes__swiper-slide swiper-slide">
                            <a href="./assets/images/dishes-swiper-img1.png" data-fancybox="dishes" class="dishes__swiper-slide-inner">
                                <div class="dishes__swiper-slide-img-box">
                                    <img src="./assets/images/dishes-swiper-img1.png" alt="" class="dishes__swiper-slide-img" />
                                </div>
                            </a>
                        </div>
                        <div class="dishes__swiper-slide swiper-slide">
                            <a href="./assets/images/dishes-swiper-img1.png" data-fancybox="dishes" class="dishes__swiper-slide-inner">
                                <div class="dishes__swiper-slide-img-box">
                                    <img src="./assets/images/dishes-swiper-img1.png" alt="" class="dishes__swiper-slide-img" />
                                </div>
                            </a>
                        </div>
                        <div class="dishes__swiper-slide swiper-slide">
                            <a href="./assets/images/dishes-swiper-img1.png" data-fancybox="dishes" class="dishes__swiper-slide-inner">
                                <div class="dishes__swiper-slide-img-box">
                                    <img src="./assets/images/dishes-swiper-img1.png" alt="" class="dishes__swiper-slide-img" />
                                </div>
                            </a>
                        </div>
                        <div class="dishes__swiper-slide swiper-slide">
                            <a href="./assets/images/dishes-swiper-img1.png" data-fancybox="dishes" class="dishes__swiper-slide-inner">
                                <div class="dishes__swiper-slide-img-box">
                                    <img src="./assets/images/dishes-swiper-img1.png" alt="" class="dishes__swiper-slide-img" />
                                </div>
                            </a>
                        </div>
                        <div class="dishes__swiper-slide swiper-slide">
                            <a href="./assets/images/dishes-swiper-img1.png" data-fancybox="dishes" class="dishes__swiper-slide-inner">
                                <div class="dishes__swiper-slide-img-box">
                                    <img src="./assets/images/dishes-swiper-img1.png" alt="" class="dishes__swiper-slide-img" />
                                </div>
                            </a>
                        </div>
                        <div class="dishes__swiper-slide swiper-slide">
                            <a href="./assets/images/dishes-swiper-img1.png" data-fancybox="dishes" class="dishes__swiper-slide-inner">
                                <div class="dishes__swiper-slide-img-box">
                                    <img src="./assets/images/dishes-swiper-img1.png" alt="" class="dishes__swiper-slide-img" />
                                </div>
                            </a>
                        </div>
                        <div class="dishes__swiper-slide swiper-slide">
                            <a href="./assets/images/dishes-swiper-img1.png" data-fancybox="dishes" class="dishes__swiper-slide-inner">
                                <div class="dishes__swiper-slide-img-box">
                                    <img src="./assets/images/dishes-swiper-img1.png" alt="" class="dishes__swiper-slide-img" />
                                </div>
                            </a>
                        </div>
                        <div class="dishes__swiper-slide swiper-slide">
                            <a href="./assets/images/dishes-swiper-img1.png" data-fancybox="dishes" class="dishes__swiper-slide-inner">
                                <div class="dishes__swiper-slide-img-box">
                                    <img src="./assets/images/dishes-swiper-img1.png" alt="" class="dishes__swiper-slide-img" />
                                </div>
                            </a>
                        </div>
                        <div class="dishes__swiper-slide swiper-slide">
                            <a href="./assets/images/dishes-swiper-img1.png" data-fancybox="dishes" class="dishes__swiper-slide-inner">
                                <div class="dishes__swiper-slide-img-box">
                                    <img src="./assets/images/dishes-swiper-img1.png" alt="" class="dishes__swiper-slide-img" />
                                </div>
                            </a>
                        </div>
                        <div class="dishes__swiper-slide swiper-slide">
                            <a href="./assets/images/dishes-swiper-img1.png" data-fancybox="dishes" class="dishes__swiper-slide-inner">
                                <div class="dishes__swiper-slide-img-box">
                                    <img src="./assets/images/dishes-swiper-img1.png" alt="" class="dishes__swiper-slide-img" />
                                </div>
                            </a>
                        </div>
                        <div class="dishes__swiper-slide swiper-slide">
                            <a href="./assets/images/dishes-swiper-img1.png" data-fancybox="dishes" class="dishes__swiper-slide-inner">
                                <div class="dishes__swiper-slide-img-box">
                                    <img src="./assets/images/dishes-swiper-img1.png" alt="" class="dishes__swiper-slide-img" />
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
