<section class="footer">
    <div class="footer__container container">
        <div class="footer__inner">
            <div class="footer__nav-box">
                <ul class="footer__nav">
                    <li class="footer__nav-item">
                        <a href="" class="footer__nav-link">Програмы питания</a>
                    </li>
                    <li class="footer__nav-item">
                        <a href="" class="footer__nav-link">О нас</a>
                    </li>
                    <li class="footer__nav-item">
                        <a href="" class="footer__nav-link">Бизнес-ланчи</a>
                    </li>
                    <li class="footer__nav-item">
                        <a href="" class="footer__nav-link">Gastro Shop</a>
                    </li>
                    <li class="footer__nav-item">
                        <a href="" class="footer__nav-link">Блог</a>
                    </li>
                </ul>
            </div>
            <div class="footer__logo-box">
                <a href="#" class="footer__logo-link">
                    <img src="./assets/images/footer-logo.png" alt="" class="footer__logo-img" />
                </a>
            </div>
            <div class="footer__contact-box">
                <a href="#" class="footer__contact-terms">Условия сотрудничества</a>
                <a href="" class="footer__contact-faq">FAQ</a>
                <div class="footer__social-box">
                    <a href="" class="footer__social-insta">
                        <img src="./assets/images/icons/footer-insta.svg" alt="#" class="footer__insta-img">
                    </a>
                    <a href="" class="footer__social-fb">
                        <img src="./assets/images/icons/footer-fb.svg" alt="#" class="footer__fb-img">
                    </a>
                    <a href="" class="footer__social-viber">
                        <img src="./assets/images/icons/footer-viber.svg" alt="#" class="footer__viber-img">
                    </a>
                    <a href="" class="footer__social-tg">
                        <img src="./assets/images/icons/footer-tg.svg" alt="#" class="footer__tg-img">
                    </a>
                </div>
                <a href="tel:+380689494919" class="footer__phone-box">
                    <div class="footer__phone">+38 (068) 949 - 49 -19</div>
                </a>
            </div>
        </div>
    </div>
</section>
