<section class="feedback">
    <div class="feedback_container container">
        <div class="feedback__inner">
            <div class="feedback__order-box">
                <div class="feedback__order-title-box">
                    <h2 class="feedback__order-title">Оформить заказ</h2>
                    <div class="feedback__order-desc">
                        Обсудите все детали заказа по телефону или сами укажите все подробности онлайн
                    </div>
                </div>
                <form class="feedback__order-form">
                    <div class="feedback__order-input-box">
                        <div class="feedback__order-input-name">
                            <label class="feedback__order-name feedback__order-label" for="fname">Имя</label>
                            <input class="feedback__order-input input-name" type="text" />
                        </div>

                        <div class="feedback__order-input-tel">
                            <label class="feedback__order-phone feedback__order-label" for="fname">Номер телефона</label>
                            <input class="feedback__order-input input-phone phone-mask" type="text" />
                        </div>
                    </div>
                    <div class="feedback__order-checkbox-box">
                        <label class="feedback__order-checkbox-label">
                            <input class="feedback__order-checkbox-input" type="checkbox" />
                            <span class="feedback__order-checkbox-circle"></span>
                            <span class="feedback__order-checkbox-text">Тест-день! Получить скидку -30%?</span>
                        </label>
                        <label class="feedback__order-checkbox-label">
                            <input class="feedback__order-checkbox-input" type="checkbox" />
                            <span class="feedback__order-checkbox-circle"></span>
                            <p class="feedback__order-checkbox-text">
                                Согласен с <a href="#" class="green-text">условиями сотрудничества</a>
                            </p>
                        </label>
                    </div>
                    <div class="feedback__order-btn-box">
                        <button class="feedback__order-btn">Заказ по телефону</button>
                        <div class="feedback__order-btn-delimeter">или</div>
                        <button class="feedback__order-btn">Онлайн заказ</button>
                    </div>
                </form>
            </div>
            <div class="feedback__accordion-box">
                <h2 class="feedback__accordion-title">Часто задаваемые вопросы</h2>
                <div class="feedback__accordion">
                    <div class="feedback__accordion-item">
                        <div class="feedback__accordion-header">
                            <p class="feedback__accordion-item-title">Как осуществляется доставка правильного питания?</p>
                            <button class="feedback__accordion-svg-wrapper">
                                <div class="feedback__accordion-svg-box">
                                    <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.70711 8.70711C9.09763 8.31658 9.09763 7.68342 8.70711 7.29289L2.34315 0.928932C1.95262 0.538408 1.31946 0.538408 0.928932 0.928932C0.538408 1.31946 0.538408 1.95262 0.928932 2.34315L6.58579 8L0.928932 13.6569C0.538408 14.0474 0.538408 14.6805 0.928932 15.0711C1.31946 15.4616 1.95262 15.4616 2.34315 15.0711L8.70711 8.70711ZM7 9H8V7H7V9Z"
                                            fill="black"
                                        />
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <div class="feedback__accordion-body">
                            <p class="feedback__accordion-item-body-content text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dicta vero et soluta iusto modi, in
                                non eveniet rerum atque beatae! Sint vero numquam, ut, quidem voluptate provident quo eaque quasi
                                iste eum libero nulla deleniti exercitationem ullam tempora! Maiores?
                            </p>
                        </div>
                    </div>
                    <div class="feedback__accordion-item">
                        <div class="feedback__accordion-header">
                            <p class="feedback__accordion-item-title">Можно ли менять время доставки\место?</p>
                            <button class="feedback__accordion-svg-wrapper">
                                <div class="feedback__accordion-svg-box">
                                    <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.70711 8.70711C9.09763 8.31658 9.09763 7.68342 8.70711 7.29289L2.34315 0.928932C1.95262 0.538408 1.31946 0.538408 0.928932 0.928932C0.538408 1.31946 0.538408 1.95262 0.928932 2.34315L6.58579 8L0.928932 13.6569C0.538408 14.0474 0.538408 14.6805 0.928932 15.0711C1.31946 15.4616 1.95262 15.4616 2.34315 15.0711L8.70711 8.70711ZM7 9H8V7H7V9Z"
                                            fill="black"
                                        />
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <div class="feedback__accordion-body">
                            <p class="feedback__accordion-item-body-content text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dicta vero et soluta iusto modi, in
                                non eveniet rerum atque beatae! Sint vero numquam, ut, quidem voluptate provident quo eaque quasi
                                iste eum libero nulla deleniti exercitationem ullam tempora! Maiores?
                            </p>
                        </div>
                    </div>
                    <div class="feedback__accordion-item">
                        <div class="feedback__accordion-header">
                            <p class="feedback__accordion-item-title">Как и в чем приезжает еда?</p>
                            <button class="feedback__accordion-svg-wrapper">
                                <div class="feedback__accordion-svg-box">
                                    <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.70711 8.70711C9.09763 8.31658 9.09763 7.68342 8.70711 7.29289L2.34315 0.928932C1.95262 0.538408 1.31946 0.538408 0.928932 0.928932C0.538408 1.31946 0.538408 1.95262 0.928932 2.34315L6.58579 8L0.928932 13.6569C0.538408 14.0474 0.538408 14.6805 0.928932 15.0711C1.31946 15.4616 1.95262 15.4616 2.34315 15.0711L8.70711 8.70711ZM7 9H8V7H7V9Z"
                                            fill="black"
                                        />
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <div class="feedback__accordion-body">
                            <p class="feedback__accordion-item-body-content text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dicta vero et soluta iusto modi, in
                                non eveniet rerum atque beatae! Sint vero numquam, ut, quidem voluptate provident quo eaque quasi
                                iste eum libero nulla deleniti exercitationem ullam tempora! Maiores?
                            </p>
                        </div>
                    </div>
                    <div class="feedback__accordion-item">
                        <div class="feedback__accordion-header">
                            <p class="feedback__accordion-item-title">Когда Вы готовите?</p>
                            <button class="feedback__accordion-svg-wrapper">
                                <div class="feedback__accordion-svg-box">
                                    <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.70711 8.70711C9.09763 8.31658 9.09763 7.68342 8.70711 7.29289L2.34315 0.928932C1.95262 0.538408 1.31946 0.538408 0.928932 0.928932C0.538408 1.31946 0.538408 1.95262 0.928932 2.34315L6.58579 8L0.928932 13.6569C0.538408 14.0474 0.538408 14.6805 0.928932 15.0711C1.31946 15.4616 1.95262 15.4616 2.34315 15.0711L8.70711 8.70711ZM7 9H8V7H7V9Z"
                                            fill="black"
                                        />
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <div class="feedback__accordion-body">
                            <p class="feedback__accordion-item-body-content text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dicta vero et soluta iusto modi, in
                                non eveniet rerum atque beatae! Sint vero numquam, ut, quidem voluptate provident quo eaque quasi
                                iste eum libero nulla deleniti exercitationem ullam tempora! Maiores?
                            </p>
                        </div>
                    </div>
                    <div class="feedback__accordion-item">
                        <div class="feedback__accordion-header">
                            <p class="feedback__accordion-item-title">Какие продукты Вы используете?</p>
                            <button class="feedback__accordion-svg-wrapper">
                                <div class="feedback__accordion-svg-box">
                                    <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.70711 8.70711C9.09763 8.31658 9.09763 7.68342 8.70711 7.29289L2.34315 0.928932C1.95262 0.538408 1.31946 0.538408 0.928932 0.928932C0.538408 1.31946 0.538408 1.95262 0.928932 2.34315L6.58579 8L0.928932 13.6569C0.538408 14.0474 0.538408 14.6805 0.928932 15.0711C1.31946 15.4616 1.95262 15.4616 2.34315 15.0711L8.70711 8.70711ZM7 9H8V7H7V9Z"
                                            fill="black"
                                        />
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <div class="feedback__accordion-body">
                            <p class="feedback__accordion-item-body-content text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dicta vero et soluta iusto modi, in
                                non eveniet rerum atque beatae! Sint vero numquam, ut, quidem voluptate provident quo eaque quasi
                                iste eum libero nulla deleniti exercitationem ullam tempora! Maiores?
                            </p>
                        </div>
                    </div>
                    <div class="feedback__accordion-item">
                        <div class="feedback__accordion-header">
                            <p class="feedback__accordion-item-title">Я буду есть одно и то же?</p>
                            <button class="feedback__accordion-svg-wrapper">
                                <div class="feedback__accordion-svg-box">
                                    <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.70711 8.70711C9.09763 8.31658 9.09763 7.68342 8.70711 7.29289L2.34315 0.928932C1.95262 0.538408 1.31946 0.538408 0.928932 0.928932C0.538408 1.31946 0.538408 1.95262 0.928932 2.34315L6.58579 8L0.928932 13.6569C0.538408 14.0474 0.538408 14.6805 0.928932 15.0711C1.31946 15.4616 1.95262 15.4616 2.34315 15.0711L8.70711 8.70711ZM7 9H8V7H7V9Z"
                                            fill="black"
                                        />
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <div class="feedback__accordion-body">
                            <p class="feedback__accordion-item-body-content text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dicta vero et soluta iusto modi, in
                                non eveniet rerum atque beatae! Sint vero numquam, ut, quidem voluptate provident quo eaque quasi
                                iste eum libero nulla deleniti exercitationem ullam tempora! Maiores?
                            </p>
                        </div>
                    </div>
                    <div class="feedback__accordion-item">
                        <div class="feedback__accordion-header">
                            <p class="feedback__accordion-item-title">У меня аллергия и непереносимость определенных продуктов</p>
                            <button class="feedback__accordion-svg-wrapper">
                                <div class="feedback__accordion-svg-box">
                                    <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.70711 8.70711C9.09763 8.31658 9.09763 7.68342 8.70711 7.29289L2.34315 0.928932C1.95262 0.538408 1.31946 0.538408 0.928932 0.928932C0.538408 1.31946 0.538408 1.95262 0.928932 2.34315L6.58579 8L0.928932 13.6569C0.538408 14.0474 0.538408 14.6805 0.928932 15.0711C1.31946 15.4616 1.95262 15.4616 2.34315 15.0711L8.70711 8.70711ZM7 9H8V7H7V9Z"
                                            fill="black"
                                        />
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <div class="feedback__accordion-body">
                            <p class="feedback__accordion-item-body-content text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dicta vero et soluta iusto modi, in
                                non eveniet rerum atque beatae! Sint vero numquam, ut, quidem voluptate provident quo eaque quasi
                                iste eum libero nulla deleniti exercitationem ullam tempora! Maiores?
                            </p>
                        </div>
                    </div>
                    <div class="feedback__accordion-item">
                        <div class="feedback__accordion-header">
                            <p class="feedback__accordion-item-title">В какой очередности все есть?</p>
                            <button class="feedback__accordion-svg-wrapper">
                                <div class="feedback__accordion-svg-box">
                                    <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.70711 8.70711C9.09763 8.31658 9.09763 7.68342 8.70711 7.29289L2.34315 0.928932C1.95262 0.538408 1.31946 0.538408 0.928932 0.928932C0.538408 1.31946 0.538408 1.95262 0.928932 2.34315L6.58579 8L0.928932 13.6569C0.538408 14.0474 0.538408 14.6805 0.928932 15.0711C1.31946 15.4616 1.95262 15.4616 2.34315 15.0711L8.70711 8.70711ZM7 9H8V7H7V9Z"
                                            fill="black"
                                        />
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <div class="feedback__accordion-body">
                            <p class="feedback__accordion-item-body-content text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dicta vero et soluta iusto modi, in
                                non eveniet rerum atque beatae! Sint vero numquam, ut, quidem voluptate provident quo eaque quasi
                                iste eum libero nulla deleniti exercitationem ullam tempora! Maiores?
                            </p>
                        </div>
                    </div>
                    <div class="feedback__accordion-item">
                        <div class="feedback__accordion-header">
                            <p class="feedback__accordion-item-title">Можно ли замораживать программу?</p>
                            <button class="feedback__accordion-svg-wrapper">
                                <div class="feedback__accordion-svg-box">
                                    <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.70711 8.70711C9.09763 8.31658 9.09763 7.68342 8.70711 7.29289L2.34315 0.928932C1.95262 0.538408 1.31946 0.538408 0.928932 0.928932C0.538408 1.31946 0.538408 1.95262 0.928932 2.34315L6.58579 8L0.928932 13.6569C0.538408 14.0474 0.538408 14.6805 0.928932 15.0711C1.31946 15.4616 1.95262 15.4616 2.34315 15.0711L8.70711 8.70711ZM7 9H8V7H7V9Z"
                                            fill="black"
                                        />
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <div class="feedback__accordion-body">
                            <p class="feedback__accordion-item-body-content text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dicta vero et soluta iusto modi, in
                                non eveniet rerum atque beatae! Sint vero numquam, ut, quidem voluptate provident quo eaque quasi
                                iste eum libero nulla deleniti exercitationem ullam tempora! Maiores?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
