<header class="header">
    <div class="container header__container">
        <div class="header__inner">
            <div class="header__logo-wrapper">
                <div class="header__logo-box">
                    <div class="header__logo-img-box">
                        <img src="./assets/images/logo.svg" alt="" class="header__logo-img" />
                    </div>
                    <div class="header__logo-text-box">
                        <p class="header__logo-text">healthy ration</p>
                    </div>
                </div>
            </div>

            <div class="header__nav-box">
                <ul class="header__nav-list">
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-item-link">Програмы питания</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-item-link">Бизнес-ланчи</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-item-link">Gastro Shop</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-item-link">О нас</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-item-link">Блог</a>
                    </li>
                </ul>
                <a href="tel:+380689494919" class="header__phone-box mobile">
                    <div class="header__phone ">+38 (068) 949 - 49 -19</div>
               
                </a>
            </div>
            <a href="tel:+380689494919" class="header__phone-box">
                <div class="header__phone desktop">+38 (068) 949 - 49 -19</div>
                <div class="header__phone-img-box mobile">
                    <img src="./assets/images/icons/header-phone.svg" alt="phone" class="header__phone-img" />
                </div>
            </a>
            <button class="header__burger-btn-box">
                <div class="header__burger-btn">
                    <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="32" cy="32" r="32" fill="#F5FAFF" />
                        <rect x="19" y="22" width="25" height="3.94737" rx="1.97368" fill="#020202" />
                        <rect x="24" y="30" width="20" height="4" rx="2" fill="#020202" />
                        <rect x="19" y="37.7895" width="25" height="3.94737" rx="1.97368" fill="#020202" />
                    </svg>
                </div>
                <div class="header__burger-btn">
                    <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="32" cy="32" r="32" fill="#F5FAFF" />
                        <rect
                            x="21.2656"
                            y="39.6776"
                            width="25"
                            height="3.94737"
                            rx="1.97368"
                            transform="rotate(-45 21.2656 39.6776)"
                            fill="#020202"
                        />
                        <rect
                            x="24.0576"
                            y="21.9999"
                            width="25"
                            height="3.94737"
                            rx="1.97368"
                            transform="rotate(45 24.0576 21.9999)"
                            fill="#020202"
                        />
                    </svg>
                </div>
            </button>
        </div>
    </div>
</header>
