<section class="history">
    <div class="history__container container">
        <div class="history__inner">
            <div class="history__begin-box">
                <div class="history__image-box">
                    <img src="./assets/images/history__bag.png" alt="" class="history__image" />
                </div>
                <div class="history__content-begin-box">
                    <div class="history__title-box">
                        <h2 class="history__title">История GastroChef началась более 6-ти лет назад...</h2>
                    </div>
                    <div class="history__desc-box">
                        <p class="history__desc">
                            Долгое время я наблюдал как людям не хватает времени для правильного и здорового питания, какое
                            правильного, просто питания регулярного.
                        </p>
                        <p class="history__desc">
                            Они могли позавтракать, в обед съесть что-то типа шаурмы или снэка, а вечером в силу голода наесться,
                            что плохо сказывалось на их обмене веществ и естественно здоровье.
                        </p>
                        <p class="history__desc">
                            Желание хоть как-то изменить ситуацию и помочь людям не давало мне покоя и я решил открыть доставку
                            еды правильного питания.
                        </p>
                        <p class="history__desc">
                            Я со своим 17-и летним опытом в спорте и проф. образованием, вместе с диетологом разработали рационы
                            правильного питания с подсчетом калорий (КБЖУ).
                        </p>
                    </div>
                </div>
            </div>
            <div class="history__team-box">
                <div class="history__team-title-box">
                    <h2 class="history__team-title">Знакомтесь! Команда GastroChef!</h2>
                </div>
                <div class="history__team-img-box">
                    <img src="./assets/images/history__team-img.png" alt="" class="history__team-img" />
                </div>
            </div>
            <div class="history__easy-box">
                <div class="history__easy-content-box">
                    <div class="history__easy-title-box">
                        <h2 class="history__easy-title">«GastroChef - легко для занятых»
                        </h2>
                    </div>
                    <div class="history__easy-desc-box">
                        <p class="history__easy-desc">GastroChef - правильное питание с доставкой на дом, создано что бы облегчить жизнь, освободить время от готовки, от ненужных перекусов, фастфудов и дать возможность чувствовать себя легко и полным энергии, сил, для новых свершений и побед.
                        </p>
                        <p class="history__easy-desc">Все продукты для приготовления правильного питания закупаются только с сертификатами, а рационы готовятся на современной и безопасной кухне ночью перед приездом к Вам!
                        </p>
                        <p class="history__easy-desc desc-bold">Друзья, если у Вас остались вопросы Вы с легкостью можете позвонить нам или написать мне лично в Инстаграм или Фейсбук.
                        </p>
                        <p class="history__easy-signature">С уважением, Кобылинский Кирилл.</p>
                        <div class="history__easy-social-box">
                            <div class="history__easy-social-insta-box">
                                <img src="./assets/images/icons/insta.svg" alt="instagram" class="history__easy-social-insta" />
                            </div>
                            <div class="history__easy-social-fb-box">
                                <img src="./assets/images/icons/facebook.svg" alt="facebook" class="history__easy-social-fb" />
                            </div>
                            <p class="history__easy-social-desc">- Я в социальных сетях</p>
                        </div>
                    </div>
                </div>
                <div class="history__easy-img-box">
                    <img src="./assets/images/history__hands.png" alt="hands" class="history__easy-img" />
                </div>
            </div>
        </div>
    </div>
</section>
